body
{
    margin: 0;
    padding: 0;
}
nav
{
    text-align: center;
    background-color: #d3d2d2;
    padding: 20px;
}
nav a
{
    font-size: 25px;
    text-decoration: none;
    color: #7d0505;
    margin: 10px 50px 10px 50px;
    transition: 0.3s;
}
nav a:hover
{
    font-size: 27.5px;
    color: #000;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}
a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.aboutme img{
  width: 20%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 50%;
}
